body {
    font-family: "Arial";
    margin: 0;

}



.main{
    background-color: #8dc63f;
}

.header{
    background-color: #8dc63f; 
}


.info p {
    font-size: 22px;
    color: #39930d;
    display: block;
    margin: 0;
}

.header-line{
    padding-top: 25px;
}


.wrapper {
    box-sizing: border-box;
    padding: 0 15px;
    margin: auto;
    max-width: 960px;
}

.info strong {
    font-size: 44px;
    color: #39930d;
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
}

.info {
    margin-right: 34px;
    margin-bottom: 25px;
}


.left-container {
    display: flex;
}



.info i {
    font-size: 14px;
    color: #5a5a5a;
    font-family: "Arial";
}

.wrapper{
    background-color: #fff;
}




.header-line {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}



.number a {
    font-size: 22px;
    color: #39930d;
    text-align: right;
    text-decoration: none;
}

.tel {
    font-size: 22px;
    color: #39930d;
    text-align: right;
}

.working {
    font-size: 14px;
    color: #5a5a5a;
    font-style: italic;
    font-family: "Arial";
    text-align: right;
}

.main-info h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 2px;
    
}

.info-news{
    display: flex;
}

.main-info p {
    font-size: 14px;
    line-height: 21px;
    color: #343434;
}

.news{
    padding-left: 40px;
}

.news h3 {
    font-size: 18px;
    color: #ffffff;
    background-color: #39930d;

    padding: 13px;
    
}

.news a {
    font-size: 14px;
    line-height: 28px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;

}

.main-info{
    padding-bottom: 50px;
}

.last-news{
    margin-right: 80px;
}

footer {
    background-color: #8dc63f;
}


.foot-wrap{
    padding: 0px 0px;
}


footer p {
    font-size: 14px;
    color: #fff;
     background-color: #39930d;
     padding: 20px;
     margin: 0;
}