body {
    font-family: "Arial";
    margin: 0;
    background-color: #8dc63f;
    cursor: url('/cursor/football.cur'), auto;
}

.info p {
    font-size: 22px;
    color: #39930d;
    display: block;
    margin: 0;
}



a:hover {
    cursor: url('/cursor/finger.cur'), auto;
}

.header-line {
    padding: 25px 0px;
}

.wrapper {
    box-sizing: border-box;
    padding: 0 15px;
    margin: auto;
    max-width: 960px;
}

.info strong {
    font-size: 44px;
    color: #39930d;
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
}

.tel a:hover {
    background-color: #39930d;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.tel a {
    transition: 1s all ease;
}

.left-container {
    display: flex;
    row-gap: 10px;
}



.logo {
    margin: 0 34px;
}

.info i {
    font-size: 14px;
    color: #5a5a5a;
    font-family: "Arial";
}

.news a {
    transition: 1s all ease;
}

.news li:hover>a {

    color: #020202;
    border-radius: 4px;
}

.wrapper {
    background-color: #fff;
}

.header-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.number a {
    font-size: 22px;
    color: #39930d;
    text-align: right;
    text-decoration: none;
}

.tel {
    font-size: 22px;
    color: #39930d;
    text-align: center;
    margin: 0px;
}

.working {
    font-size: 14px;
    color: #5a5a5a;
    font-style: italic;
    font-family: "Arial";
    text-align: right;
    margin: 6px;
}

.main-info h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 2px;
    margin: 0 20px 0;

}

.info-news {
    display: flex;
    flex-wrap: wrap;
}

.main-info p {
    font-size: 14px;
    line-height: 21px;
    color: #343434;
}

.news {
    padding-left: 40px;
    min-width: 280px;
}

.news h3 {
    font-size: 18px;
    color: #ffffff;
    background-color: #39930d;
    padding: 8px 20px;
}

.news a {
    font-size: 15px;
    line-height: 28px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
}

.main-info {
    padding-bottom: 33px;
}

.picture {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 75%;
}

.foot-wrap {
    padding: 0px 0px;
}


footer p {
    font-size: 14px;
    color: #fff;
    background-color: #39930d;
    padding: 14px;
    margin: 0;
}

@media screen and (min-width: 720px){
    .header-line{
        justify-content: space-between;
    }
}

@media screen and (min-width: 280px) {
.left-container{
    display: block;
    flex-wrap: wrap;
}
} 

@media screen and (max-width: 480px) {
    .header-line {
      justify-content: center;
    }
    
}



@media screen and (min-width: 626px) {
    .left-container {
        display: flex;
        justify-content: space-between;
    }

    .tel p {
        text-align: right;
    }
}

@media screen and (min-width: 668px) {
    .info-news {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 558px) {
    .last-news {
        margin-right: 80px;
    }
}